.content {
  padding: 0 1rem;
}

.welcome-section {
  height: auto;
  position: relative;
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0 0;

    transition: transform 0.8s ease-out, opacity 0.8s ease-out;

    &.animate {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__paragraph {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;


    transition: transform 0.8s ease-out, opacity 0.8s ease-out;

    &.animate {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__date {
    margin-top: 2rem;
    font-size: 0.875rem;;
    text-align: center;

    & span {
      font-size: 1.125rem;
      font-weight: 700;
    }
  }

  &__img-container {
    margin-top: 4rem;
    text-align: center;

    & img {
      width: 40px;
    }
  }
}

.svg-container {
  margin: 0 -2rem;
  background-image: linear-gradient(to bottom, transparent, #000000, transparent);
}

.first-text {
  margin-top: 2rem;
  font-size: 1rem;
  text-align: center;

  transition: transform 0.8s ease-out, opacity 0.8s ease-out;

  &.animate {
    transform: translateX(0);
    opacity: 1;
  }
}

.images-container {
  display: flex;
  gap: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  & img {
    width: 40%;
  }
}

.hidden {
  opacity: 0;
  transform: translateX(-100px);
}
