<section class="section">
  <h1 class="h1 section__title">FAQ</h1>

  <div class="section-inner">
    <div class="faq-card" appScrollAnimate>
      <h3 class="h1 faq-card__title">Детки</h3>
      <p class="paragraph">Мы с большой любовью просим оставить вашего маленького ангелочка дома, что бы вы в полной мере смогли наслаждаться нашим днём 🤍</p>
    </div>

    <div class="faq-card faq-card--right" appScrollAnimate>
      <h3 class="h1 faq-card__title">Горько</h3>
      <p class="paragraph"> Вы у нас самые замечательные гости, и мы уверенны, что вы воздержитесь от криков «ГОРЬКО» ✨</p>
    </div>

    <div class="faq-card" appScrollAnimate>
      <h3 class="h1 faq-card__title">Сюрпризы</h3>
      <p class="paragraph"> Если вы хотите сделать нам какой-то сюрприз на свадьбе, в этом помочь смогут наш ведущий Сергей +7 (926) 776-69-92 и организатор Валентина +7 (963) 630-42-60</p>
    </div>

    <div class="faq-card faq-card--right" appScrollAnimate>
      <h3 class="h1 faq-card__title">Цветы и подарки 💫</h3>
      <p class="paragraph">Самое главное для нас - это ваше присутствие, но мы будем очень рады вкладу в наш семейный бюджет.</p>
      <p class="paragraph">Просим вас не дарить цветы, ведь мы не сможет насладиться их красотой, взамен, вы можете подарить нам бутылочку вина, которую мы потом откроем вместе 💞</p>
    </div>
  </div>
</section>
