<section class="section">
  <h2 class="h1 section-title">Место проведения</h2>

  <div class="map-container">
    <iframe class="map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A6f4dee5fa8971a3d247053dd0a92e7a60e66af11156d46a1466baad1417c27d8&amp;source=constructor" width="300" height="300" frameborder="0"></iframe>
  </div>

  <p class="paragraph" style="margin-top: 1rem; text-align: center">улица Рябиновка, 1, деревня Филипповское, муниципальный округ Чехов, Московская область</p>

  <div style="margin-top: 3rem" class="mobile-widgets-slider">

    <div class="widget-mobile">
      <img src="assets/images/place2.webp" alt="">
    </div>

    <div class="widget-mobile">
      <img src="assets/images/place3.webp" alt="">
    </div>
  </div>
</section>
