<section class="section">
  <h2 class="h1 section__title">Заполните форму</h2>

  @if (numberOfPerson() === 1) {
    <form [formGroup]="formOnePerson" (ngSubmit)="onSubmitOnePerson()" class="form">
      <span class="form__name">{{ firstPerson() }}</span>
      <div>
        <span>Сможешь приехать?</span>
      </div>

      <div class="form__buttons-wrapper">
        <button type="button" (click)="onConfirmation1()">Да</button>
        <button type="button" (click)="onRefusal1()">Нет, не смогу</button>
      </div>

      @if (alcoholSelector1IsVisible()) {
        <div class="select-wrapper">
          <label for="select1">Какой алкоголь предпочиаете?</label>
          <select id="select1" formControlName="alcohol" class="select">
            @for (option of options; track option) {
              <option [value]="option">{{ option }}</option>
            }
          </select>
        </div>
      }

      @if (notWillBe1()) {
        <div style="margin-top: 0.5rem">Очень жаль 🥺</div>
      }

      @if (isErrorResponse()) {
        <div style="color: red; text-align: center; margin-top: 1rem">Ошибка при отправке</div>
      }

      <div style="display: flex; justify-content: center">
        <button type="submit" class="form__button-submit">Отправить</button>
      </div>

      @if (isSuccessResponse()) {
        <div style="text-align: center; margin-top: 1rem">✅ Успешно отправлено!</div>
      }
    </form>
  }

  @if (numberOfPerson() === 2) {
    <form [formGroup]="formTwoPerson" (ngSubmit)="onSubmitTwoPerson()" class="form">
      <span class="form__name">{{ firstPerson() }}</span>
      <div style="margin-top: 0.5rem">
        <span>Сможешь приехать?</span>
      </div>

      <div class="form__buttons-wrapper">
        <button type="button" (click)="onConfirmation1()">Да</button>
        <button type="button" (click)="onRefusal1()">Нет, не смогу</button>
      </div>

      @if (alcoholSelector1IsVisible()) {
        <div class="select-wrapper">
          <label for="select">Какой алкоголь предпочиаете?</label>
          <select id="select" formControlName="alcohol" class="select">
            @for (option of options; track option) {
              <option [value]="option">{{ option }}</option>
            }
          </select>
        </div>
      }

      @if (notWillBe1()) {
        <div style="margin-top: 0.5rem">Очень жаль 🥺</div>
      }


      <span style="display: block; margin-top: 1.5rem" class="form__name">{{ secondPerson() }}</span>
      <div style="margin-top: 0.5rem">
        <span>Сможешь приехать?</span>
      </div>

      <div class="form__buttons-wrapper">
        <button type="button" (click)="onConfirmation2()">Да</button>
        <button type="button" (click)="onRefusal2()">Нет, не смогу</button>
      </div>

      @if (alcoholSelector2IsVisible()) {
        <div class="select-wrapper">
          <label for="select2">Какой алкоголь предпочиаете?</label>
          <select id="select2" formControlName="secondAlcohol" class="select">
            @for (option of options; track option) {
              <option [value]="option">{{ option }}</option>
            }
          </select>
        </div>
      }

      @if (notWillBe2()) {
        <div style="margin-top: 0.5rem">Очень жаль 🥺</div>
      }

      @if (isErrorResponse()) {
        <div style="color: red; text-align: center; margin-top: 1rem">Ошибка при отправке</div>
      }

      <div style="display: flex; justify-content: center">
        <button type="submit" class="form__button-submit">Отправить</button>
      </div>

      @if (isSuccessResponse()) {
        <div style="text-align: center; margin-top: 1rem">✅ Успешно отправлено!</div>
      }
    </form>
  }

  @if (canViewTelegram()) {
    <div class="tg-link">
      <span>Заходите в телеграм чат</span>
      <a href="https://t.me/+6V7pLK13WBJjOTRi" target="_blank">Телеграм чат</a>
    </div>
  }
</section>
