<section style="text-align: center" class="section">
  <h1 class="h1">Дресс код</h1>

  <div appScrollAnimate class="dress-code-card">
    <h2 class="h2 card-title">Мужчины</h2>

    <img style="margin-top: 1rem" src="assets/images/men-dress-code.webp" alt="">

    <div class="palette">
      <div style="background-color: #000000"></div>
      <div style="background-color: #aaaaaa"></div>
      <div style="background-color: #e3c5ab"></div>
      <div style="background-color: #ffffff"></div>
    </div>
  </div>

  <div appScrollAnimate class="dress-code-card">
    <h2 class="h2 card-title">Девушки</h2>

    <img style="margin-top: 1rem" src="assets/images/women-dress-code.webp" alt="">

    <div class="palette">
      <div style="background-color: #5c3785"></div>
      <div style="background-color: #c181d7"></div>
      <div style="background-color: #ffcafe"></div>
      <div style="background-color: #a9c650"></div>
      <div style="background-color: #769223"></div>
    </div>
  </div>
</section>
