<section style="text-align: center" class="section">
  <h1 class="h1">Дресс код</h1>

  <div appScrollAnimate class="dress-code-card">
    <h2 class="h2 card-title">Мужчины</h2>

    <img style="margin-top: 1rem" src="assets/images/men-dress-code.webp" alt="">

    <div class="palette">
      <div style="background-color: #8200ff"></div>
      <div style="background-color: #00230c"></div>
      <div style="background-color: #434343"></div>
      <div style="background-color: #000000"></div>
      <div style="background-color: #f1c700"></div>
    </div>

    <p>Какой то текст. Соответствовать дресс коду не обязательно</p>
  </div>

  <div appScrollAnimate class="dress-code-card">
    <h2 class="h2 card-title">Девушки</h2>

    <img style="margin-top: 1rem" src="assets/images/women-dress-code.webp" alt="">

    <div class="palette">
      <div style="background-color: #8200ff"></div>
      <div style="background-color: #00230c"></div>
      <div style="background-color: #434343"></div>
      <div style="background-color: #000000"></div>
      <div style="background-color: #f1c700"></div>
    </div>

    <p>Какой то текст. Соответствовать дресс коду не обязательно</p>
  </div>
</section>
