.section {
  background-color: var(--dark-gray-color);
  overflow: hidden;
  padding: 0 0 2rem;

  &__inner {
    padding: 0 1rem;
  }
}

.section-title {
  text-align: center;

  margin-top: 3rem;
  margin-bottom: 4rem;
}

.hidden {
  opacity: 0;
  transform: translateX(-100px);
}

.timeline-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transform: translateX(-100px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;

  &__card {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--gray);
    box-shadow: 0 0.5rem 1rem var(--background-color);
    flex-shrink: 0;
  }

  &__svg-container {
    flex: 1;

    display: flex;
    justify-content: center;

    & svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.timeline-item--right {
  transform: translateX(100px);
}

.card-circle {
  display: inline-block;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-30px);
  margin: 0 auto;
  font-size: 2rem;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 100%;
  background-color: var(--dark-gray-color);
  border: 2px solid var(--silver-color);
  box-shadow: 0 0.5rem 1rem var(--background-color);

  & span {
    line-height: 60px;
  }
}

/* Эффект появления */
.timeline-item.animate {
  transform: translateX(0);
  opacity: 1;
}



.text {
  width: 100%;

  text-align: center;

  & h3 {
    font-size: 2rem;
    line-height: 1;
    margin: 1rem 0 0;
  }

  & p {
    font-size: 0.875rem;
    margin: 0.75rem 0 0;
  }

  & span {
    display: block;
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}

.card-1 {
  max-width: 300px;
}

.card-2 {
  max-width: 300px;
}

.card-3 {
  max-width: 270px;
}

.card-4 {
  max-width: 250px;
}

.card-last {
  width: 100%;
}
