<section>
  <h2 class="h1 section-title">Тайминг мероприятия</h2>

  <div class="timeline-item" appScrollAnimate>
    <h2 class="h2">13:00 – Сбор гостей 🥂</h2>
    <p class="paragraph">Добро пожаловать! Вас ждут лёгкие закуски и приветственные напитки.</p>
  </div>

  <div class="timeline-item" appScrollAnimate>
    <h2 class="h2">14:00 – Церемония 💫</h2>
    <p class="paragraph">Трогательный момент обмена клятвами и начало новой истории.</p>
  </div>

  <div class="timeline-item" appScrollAnimate>
    <h2 class="h2">15:00 – Фотосессия 📸</h2>
    <p class="paragraph">Время запечатлеть счастливые моменты с молодожёнами.</p>
  </div>

  <div class="timeline-item" appScrollAnimate>
    <h2 class="h2">17:00 – Банкет 🥗</h2>
    <p class="paragraph">Праздничный ужин, тосты, веселье и торт!</p>
  </div>

  <div class="timeline-item" appScrollAnimate>
    <h2 class="h2">21:00 – Танцы и вечерняя программа 🕺</h2>
    <p class="paragraph">Живая музыка, весёлые конкурсы и зажигательная дискотека.</p>
  </div>
</section>
