.section-title {
  text-align: center;
}

.hidden {
  opacity: 0;
  transform: translateX(-100px);
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
  max-width: 100%;
}

.timeline-item {
  padding: 20px;
  border-radius: 10px;
  transform: translateX(-100px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

/* Эффект появления */
.timeline-item.animate {
  transform: translateX(0);
  opacity: 1;
}
