<div class="meeting-screen" [class.hidden]="isMeetingScreenHidden()">
    <video class="meeting-screen__video" muted autoplay loop playsinline preload="metadata">
        <source src="assets/video/meeting-video.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>

    <div class="meeting-screen__title">
        <h1 class="h1">
            Приглашение на свадьбу<br>Кирилла и Алины
        </h1>
    </div>

    <div class="swipper-container">
        <p class="clue">Разблокируйте приглашение</p>
        <div class="swipper">
            <button
                class="swipper__button"
                (touchstart)="onDragStart($event)"
            >
                <img src="assets/svg/wedding-icon.svg" alt="">
            </button>
            <div class="swipper__finish-position"></div>
        </div>
    </div>
</div>
