@font-face {
    font-family: Sacramente;
    src:url('assets/fonts/Sacramento.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: Futura;
  src: url('assets/fonts/zhuan_FuturaNowScript-Rg.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Futura;
  src: url('assets/fonts/zhuan_FuturaNowScript-Bd.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//    font-family: Playfair;
//    src: url(assets/fonts/PlayfairDisplay-Medium.ttf);
//    font-weight: 500;
//    font-style: normal;
//    font-display: swap;
//}
//
//@font-face {
//    font-family: Playfair;
//    src: url(assets/fonts/PlayfairDisplay-SemiBold.ttf);
//    font-weight: 600;
//    font-style: normal;
//    font-display: swap;
//}
//
//@font-face {
//    font-family: Playfair;
//    src: url(public/assets/fonts/PlayfairDisplay-Bold.ttf);
//    font-weight: 700;
//    font-style: normal;
//    font-display: swap;
//}
