@font-face {
    font-family: CormorantGaramond;
    src: url(assets/fonts/CormorantGaramond-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Playfair;
    src: url(assets/fonts/PlayfairDisplay-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Playfair;
    src: url(assets/fonts/PlayfairDisplay-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Playfair;
    src: url(assets/fonts/PlayfairDisplay-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
