@import url(fonts.scss);

:root {
    font-family: CormorantGaramond, sans-serif;
    font-size: 1em;

    box-sizing: border-box;

    --background-color: #1A1A1A;
    --main-text-color:  #FFFFFF;
    --silver-color: #A8A8A8;
    --purple-color: #9B51E0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    margin: 0;
    line-height: 1.33;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: CormorantGaramond;
    font-weight: 300;
}

.h1 {
    font-size: 2rem;
}

.h3 {
    font-size: 1rem;
}
